.section.section_location {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #1f2e88;
}

#map {
  width: 100%;
  height: 80vh;
}

.section_location.location_title {
  font-size: 3rem;
  color: whitesmoke;
}
